/* =========================================== */
/* ==== COMMUNITY NOTIFICATION SYSTEM CSS ==== */
/* =========================================== */


/* ================ FONTS =============== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:  local('Open Sans Light'), 
        local('OpenSans-Light'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  local('Open Sans'), 
        local('OpenSans'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.svg#OpenSansRegular') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:  local('Open Sans'), 
        local('OpenSans'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.svg#OpenSansRegular') format('svg');
}


/* ================ GENERAL STYLES ================ */

html {
    overflow-y: scroll;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    background: #FFFFFF;
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 30px;
    color: #26363D;
}

/* ================ NOTIFICATIONS PANEL ================ */


.panel {
    border: none;
    box-shadow: none;
}

.panel .panel-heading {
    border: none;
    background: none;
    color: #1973bc;
    font-size: 22px;
    cursor: default;
    padding-bottom: 0;
}

.panel .panel-body {
    padding-top: 0;
}


/* ================ NOTIFICATIONS TABLE ================ */


.tableObj table {
    border: none;
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    margin-bottom: 10px;
    table-layout: fixed;
    
    /* alternative version */    
    border-right: 1px solid #d7d7d7;
}

.tableObj .dataTables_wrapper .dataTables_length, 
.tableObj .dataTables_wrapper .dataTables_filter, 
.tableObj .dataTables_wrapper .dataTables_info, 
.tableObj .dataTables_wrapper .dataTables_processing, 
.tableObj .dataTables_wrapper .dataTables_paginate {
    font-size: 12px;
    font-weight: 400;
}

.tableObj .dataTables_wrapper .dataTables_info {
    line-height: 24px;
    padding: 0;
}

.tableObj table > thead > tr > th,
.tableObj table > tbody > tr > td {
    width: auto !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tableObj table > thead > tr > th {
    color: #FFF;
    text-shadow: none;
    font-size: 16px;
    padding: 8px 20px 10px 10px;
    font-weight: normal;
    border-top: none;
    border-left: none;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7 !important;
    outline: none;
    
    /* alternative version */    
    border-right: none;
}

.tableObj table > thead > tr > th,
.tableObj table > thead > tr > th.sorting,
.tableObj table > thead > tr > th.sorting_asc,
.tableObj table > thead > tr > th.sorting_desc {
    background: #8AB3C6;    
    position: relative;
}

.tableObj table > tbody > tr > td {
    border-top: none;
    border-left: none;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 10px 10px 10px;
    
    /* alternative version */    
    border-right: none;
}

.tableObj table > tbody > tr.read,
.tableObj table > tbody > tr.read > td {
    background: #f0f0f0;
    font-weight: 400;
}

.tableObj table > tbody > tr.unread,
.tableObj table > tbody > tr.unread > td {
    background: #FFF;
    font-weight: 600;
}

.tableObj table > thead > tr > th.sorting_asc:after {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.tableObj table > thead > tr > th.sorting_desc:after {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.tableObj table .checkboxColumn,
.tableObj table .checkboxColumn {
    width: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    padding: 8px 0 10px;
}

.tableObj table .checkboxColumn .checkbox {
    width: 24px;
    height: 24px;
    background: #FFF;
    border: 1px solid #d7d7d7;
    display: block;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
    background: #FFF url(../img/checkbox.svg) no-repeat left center;
    -webkit-transition: border .5s;
	-moz-transition: border .5s;
	transition: border .5s;
}

.no-svg .tableObj table .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.png) no-repeat left center;
}

.tableObj table .checkboxColumn .checkbox:hover {
    border: 1px solid #3e6480;
}

.tableObj table > tbody > tr.checked,
.tableObj table > tbody > tr.checked > td {
    background: #ffffd8;
}

.tableObj table .checked .checkboxColumn .checkbox,
.tableObj table .checked-all .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.svg) no-repeat center center;
}

.no-svg .tableObj table .checked .checkboxColumn .checkbox,
.no-svg .tableObj table .checked-all .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.png) no-repeat center center;
}

.tableObj table .checked-some .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.svg) no-repeat right center;
}

.no-svg .tableObj table .checked-some .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.png) no-repeat right center;
}

/* delete button */

button.delete-button {
    height: 24px;
    width: 24px;
    padding: 0;
    border: 1px solid transparent;
    background: url(../img/delete.svg) no-repeat center center;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
	transition: border .5s;
    outline: none;
}

.no-svg button.delete-button {
    background: url(../img/delete.png) no-repeat center center;
}

button.delete-button:hover {
    border: 1px solid #3e6480;
}

/* actions selector */
.actions-container .selector-button {
    padding: 0 40px 0 5px;
    position: relative;
    height: 24px;
    line-height: 22px;
    border: 1px solid transparent;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    transition: border .5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.actions-container .selector-button:hover,
.actions-container .open .selector-button {
    border: 1px solid #3e6480;
}

.actions-container .selector-button:before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #4d4d4d;
    content: '';
    display: block;
    height: 8px;
    right: 10px;
    top: 5px;
    position: absolute;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    vertical-align: top;
    width: 8px;
}

.actions-container .open .selector-button:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
}

.actions-container .selector-dropdown {
    position: absolute;
    border: 1px solid #3e6480;
    padding: 5px;
    background: #FFF;
    z-index: 100;
    right: 0;
    margin-top: -1px;
    display: none;
}

.actions-container .open .selector-dropdown {
    display: block;
}

.actions-container .selector-dropdown button {
    display: block;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    border: none;
    background: #FFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.actions-container .selector-dropdown button:hover,
.actions-container .selector-dropdown button:active {
    background: #005ca7;
    color: #FFF;
}

/* date column width */
.tableObj table .column0 {
    width: 160px !important;
    min-width: 160px !important;
    max-width: 160px !important;
}
.tableObj table .column1 {
    width: 140px !important;
    min-width: 140px !important;
    max-width: 140px !important;
}

/* expandable filter */
.tableObj .dataTables_filter input {
    outline: none;
}

.tableObj .dataTables_filter input[type=search] {
    -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 14px;
}

.tableObj input::-webkit-search-decoration,
.tableObj input::-webkit-search-cancel-button {
    display: none; 
}

.tableObj input[type=search] {
    background: #FFF url(../img/search.svg) no-repeat right center;
    border: solid 1px #FFF;
	padding: 0 22px 0 0;
    width: 0px;
    height: 22px;
    line-height: 22px;
    font-weight: 400;
	color: transparent;
	cursor: pointer;	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.no-svg .tableObj input[type=search] {
    background: #FFF url(../img/search.png) no-repeat right center;
}

.tableObj input[type=search]:hover {
    border-color: #3e6480;
}

.tableObj input[type=search]:focus {
    width: 150px;
	background-color: #FFF;
	border-color: #3e6480;
    padding-left: 5px;
    color: #000;
    cursor: auto;
}

.tableObj input:-moz-placeholder {
    color: transparent;
}

.tableObj input::-webkit-input-placeholder {
	color: transparent;
}

/* table pagination */
.dataTables_wrapper .dataTables_paginate {
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    outline: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #26363D !important;
    background: transparent;
    box-shadow: none;
    opacity: 0.4;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    border: none !important;
    box-shadow: none;
    font-weight: 400;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
   color: #26363D;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
   color: #005ca7 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    padding: 0;
    line-height: 24px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    margin-left: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    margin-right: 5px;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button,
.dataTables_wrapper .dataTables_paginate span .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button:active {
    border: 1px solid #d7d7d7 !important;
    padding: 0;
    line-height: 22px;
    height: 24px;
    width: 24px;
    color: #26363D !important;
    background: none;
    margin: 0 2px;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button:active {
    border: 1px solid #3e6480 !important;
    color: #3e6480 !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button.current:active {
    border: 1px solid #3e6480 !important;
    color: #3e6480 !important;
    background: none;
    font-weight: 600;
}