/* =========================================== */
/* ==== COMMUNITY NOTIFICATION SYSTEM CSS ==== */
/* =========================================== */


/* ================ FONTS =============== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:  url('../../../../common-ui/resources/themes/crystal/opensans-light.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('../../../../common-ui/resources/themes/crystal/opensans-regular.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.svg#OpenSansRegular') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:  url('../../../../common-ui/resources/themes/crystal/opensans-bold.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.svg#OpenSansRegular') format('svg');
}


/* ================ GENERAL STYLES ================ */

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    background: #FFFFFF;
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 30px;
    color: #26363D;
    height: 100%;
}

button,
a,
input {
    outline: 0 none !important;
}

/* ================ NOTIFICATIONS PANEL ================ */


.panel {
    border: none;
    box-shadow: none;
}

.panel .panel-heading {
    border: none;
    background: none;
    color: #1973bc;
    font-size: 22px;
    cursor: default;
    padding-bottom: 0;
}

.panel .panel-body {
    padding-top: 30px;
}


/* ================ NOTIFICATIONS TABLE ================ */

.table-responsive {
    margin-bottom: 10px;
}

.tableObj table {
    border: none;
    border-top: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    table-layout: fixed;
    
    /* alternative version */    
    border-right: 1px solid #D7D7D7;
}

.tableObj .dataTables_wrapper .dataTables_length, 
.tableObj .dataTables_wrapper .dataTables_filter, 
.tableObj .dataTables_wrapper .dataTables_info, 
.tableObj .dataTables_wrapper .dataTables_processing, 
.tableObj .dataTables_wrapper .dataTables_paginate {
    font-size: 12px;
    font-weight: 400;
}

.tableObj .dataTables_wrapper .dataTables_info {
    line-height: 24px;
    padding: 0;
    margin-right: 10px;
    float: right;
    clear: none;
}

.tableObj table > thead > tr > th,
.tableObj table > tbody > tr > td {
    width: auto !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* when row is expanded */
.tableObj table > tbody > tr.expandingClass > td.column3 {
    overflow: visible;
    white-space: normal;
    text-overflow: none;
    word-wrap: break-word;
}

.tableObj table > tbody > tr.expandingClass > td.expandingClass {
    display: none;
}

.tableObj table > tbody > tr.expandingClass > td {
}
/* when row is expanded */

.tableObj table > thead > tr > th {
    color: #FFF;
    text-shadow: none;
    font-size: 16px;
    padding: 8px 20px 10px 10px;
    font-weight: normal;
    border-top: none;
    border-left: none;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7 !important;
    outline: none;
    
    /* alternative version */    
    border-right: none;
}

.tableObj table > thead > tr > th,
.tableObj table > thead > tr > th.sorting,
.tableObj table > thead > tr > th.sorting_asc,
.tableObj table > thead > tr > th.sorting_desc {
    background: #8AB3C6;    
    position: relative;
}

.tableObj table > tbody > tr > td {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D7D7D7;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 10px 10px 10px;  
}

.tableObj table > tbody > tr.read,
.tableObj table > tbody > tr.read > td {
    background: #f0f0f0;
    font-weight: 400;
}

.tableObj table > tbody > tr.unread,
.tableObj table > tbody > tr.unread > td {
    background: #FFF;
    font-weight: 600;
}

.tableObj table > thead > tr > th.sorting_desc:after {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.tableObj table > thead > tr > th.sorting_asc:after {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.tableObj table .checkboxColumn,
.tableObj table .checkboxColumn {
    width: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    padding: 8px 0 10px;
}

.tableObj table .checkboxColumn .checkbox {
    width: 24px;
    height: 24px;
    background: #FFF;
    border: 1px solid #D7D7D7;
    display: block;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
    background: #FFF url(../img/checkbox.svg) no-repeat left center;
    -webkit-transition: border .5s;
	-moz-transition: border .5s;
	transition: border .5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-svg .tableObj table .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.png) no-repeat left center;
}

.tableObj table .checkboxColumn .checkbox:hover {
    border: 1px solid #3E6480;
}

.tableObj table > tbody > tr.checked,
.tableObj table > tbody > tr.checked > td {
    background: #ffffd8 !important;
    background: #dce7ed !important;
}

.tableObj table .checked .checkboxColumn .checkbox,
.tableObj table .checked-all .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.svg) no-repeat center center;
}

.no-svg .tableObj table .checked .checkboxColumn .checkbox,
.no-svg .tableObj table .checked-all .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.png) no-repeat center center;
}

.tableObj table .checked-some .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.svg) no-repeat right center;
}

.no-svg .tableObj table .checked-some .checkboxColumn .checkbox {
    background: #FFF url(../img/checkbox.png) no-repeat right center;
}

/* delete button */

.action-buttons-container button {
    height: 24px;
    padding: 0 10px;
    line-height: 22px;
    border: 1px solid #D7D7D7;
    margin-right: 5px;
    background: none;
    filter: none;
    display: none;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    transition: border .5s;
}

.show-delete button.delete-button,
.show-mark-read button.markRead,
.show-mark-unread button.markUnread {
    display: inline-block;
}

.action-buttons-container button:hover {
    border: 1px solid #3E6480;
}

/* actions selector */
.actions-selector {
    position: relative;
    margin-left: 5px;
}

.actions-selector .selected-text {
    text-transform: capitalize;
}

.actions-container .selector-button {
    padding: 0 28px 0 5px;
    position: relative;
    height: 24px;
    line-height: 22px;
    border: 1px solid #D7D7D7;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    transition: border .5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    min-width: 120px;
}

.actions-container .selector-button:hover,
.actions-container .open .selector-button {
    border: 1px solid #3E6480;
}

.actions-container .selector-button:before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #4d4d4d;
    content: '';
    display: block;
    height: 8px;
    right: 10px;
    top: 5px;
    position: absolute;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    vertical-align: top;
    width: 8px;
}

.actions-container .open .selector-button:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
}

.actions-container .selector-dropdown {
    position: absolute;
    border: 1px solid #3E6480;
    padding: 5px;
    background: #FFF;
    z-index: 100;
    left: 0;
    margin-top: -1px;
    display: none;
    min-width: 100%;
    width: auto;
}

.actions-container .open .selector-dropdown {
    display: block;
}

.actions-container .selector-dropdown button {
    display: block;
    white-space: nowrap;
    min-width: 100%;
    text-align: left;
    border: none;
    background: #FFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.actions-container .selector-dropdown button.selected {
    display: none;
}

.actions-container .selector-dropdown button:hover,
.actions-container .selector-dropdown button:active {
    background: #005ca7;
    color: #FFF;
}

/* date column width */
.tableObj table .column1 {
    width: 160px !important;
    min-width: 160px !important;
    max-width: 160px !important;
}
.tableObj table .column2 {
    width: 140px !important;
    min-width: 140px !important;
    max-width: 140px !important;
}

/* expandable filter */
.tableObj .dataTables_filter input {
    outline: none;
}

.tableObj .dataTables_filter input[type=search] {
    -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 14px;
}

.tableObj input::-webkit-search-decoration,
.tableObj input::-webkit-search-cancel-button {
    display: none; 
}

.tableObj input[type=search] {
    background: #FFF url(../img/search.svg) no-repeat right center;
    border: solid 1px #D7D7D7;
	padding: 0 22px 0 0;
    width: 0px;
    height: 24px;
    line-height: 22px;
    font-weight: 400;
	color: transparent;
	cursor: pointer;	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
    margin-left: 0;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.no-svg .tableObj input[type=search] {
    background: #FFF url(../img/search.png) no-repeat right center;
}

.tableObj input[type=search]:hover {
    border-color: #3E6480;
}

.tableObj input[type=search]:focus {
    width: 130px;
	background-color: #FFF;
	border-color: #3E6480;
    padding-left: 5px;
    color: #000;
    cursor: auto;
}

.tableObj input:-moz-placeholder {
    color: transparent;
}

.tableObj input::-webkit-input-placeholder {
	color: transparent;
}

/* table pagination */
.dataTables_wrapper .dataTables_paginate {
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    outline: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #26363D !important;
    background: transparent;
    box-shadow: none;
    opacity: 0.4;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    border: none !important;
    box-shadow: none;
    font-weight: 400;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
   color: #26363D;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
   color: #005ca7 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    padding: 0;
    line-height: 24px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    margin-left: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    margin-right: 5px;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button,
.dataTables_wrapper .dataTables_paginate span .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button:active {
    border: 1px solid #D7D7D7 !important;
    padding: 0;
    line-height: 22px;
    height: 24px;
    width: 24px;
    color: #26363D !important;
    background: none;
    margin: 0 2px;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button:active {
    border: 1px solid #3E6480 !important;
    color: #3E6480 !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button.current:active {
    border: 1px solid #3E6480 !important;
    color: #3E6480 !important;
    background: none;
    font-weight: 600;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    text-align: right !important;
}

@media (max-width: 767px) {
    .tableObj table .column2 {
        width: 350px !important;
    }
}

/* table pagination */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
    color: #111;
    height: 24px;
    width: 24px;
    border: 1px solid #D7D7D7;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.paginate_disabled_previous,
.paginate_disabled_next {
    border: 1px solid #E9E9E9;
}

.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover {
    background: none;
}

.paginate_disabled_previous:after,
.paginate_enabled_previous:after {
    height: 22px;
    width: 22px;
    content: '';
    position:absolute;
    left: 0px;
    top: 0px;
    background: url(../img/left-arrow.svg) no-repeat center center;
}

.no-svg .paginate_disabled_previous:after,
.no-svg .paginate_enabled_previous:after {
    background: url(../img/left-arrow.png) no-repeat center center;
}

.paginate_disabled_next:after,
.paginate_enabled_next:after {
    height: 22px;
    width: 22px;
    content: '';
    position:absolute;
    left: 0px;
    top: 0px;
    background: url(../img/right-arrow.svg) no-repeat center center;
}

.no-svg .paginate_disabled_next:after,
.no-svg .paginate_enabled_next:after {
    background: url(../img/right-arrow.png) no-repeat center center;
}

.paginate_disabled_next,
.paginate_enabled_next,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
    margin-left: -1px;
    background: none;
}

.no-svg .paginate_disabled_next,
.no-svg .paginate_enabled_next,
.no-svg .paginate_disabled_next:hover,
.no-svg .paginate_enabled_next:hover {
    background: url(../img/right-arrow.png) no-repeat center center;
}

.paginate_enabled_previous:hover,
.paginate_enabled_next:hover {
    border: 1px solid #3E6480;
    z-index: 100;
}

.paginate_disabled_previous,
.paginate_disabled_next {
    cursor: default;
}

.paginate_disabled_previous:after,
.paginate_disabled_next:after {
    opacity: 0.2;
}

.paginate_enabled_previous:after,
.paginate_enabled_next:after {
    opacity: .6;
}

.paginate_enabled_previous:hover:after,
.paginate_enabled_next:hover:after {
    opacity: 1;
}


/* ================ CREATE NOTIFICATION BUTTON ================ */

.createNotificationBtnObj {
    text-align: right;
}

.createNotificationBtnObj button {
    font-size: 14px;
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
    border: none;
    margin: 0;
    background: #005CA7;
    color: #FFF;
    filter: none;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    transition: border .5s;
    outline: 0 none;
}

.createNotificationBtnObj button:hover {
    background: #0072CE;
    -webkit-box-shadow: 0px 3px 5px 0px #0066b9 inset;
    box-shadow: 0px 3px 5px 0px #0066b9 inset;
}

.createNotificationBtnObj button:active {
    background: #005CA7;
    -webkit-box-shadow: 0px 3px 5px 0px #004985 inset;
    box-shadow: 0px 3px 5px 0px #004985 inset;
}


/* ================ CREATE NOTIFICATION POPUP ================ */

div#popupComponentOverlay {
    background: rgba(255,255,255,.8);
}

.popupComponent {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    margin: auto;
    width: 90%;
    height: auto;
    max-width: 650px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 0;
    border: 1px solid #D7D7D7;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    padding: 0 15px;
}

.popupComponent .popupHeader {
    height: 41px;
    background: #8AB3C6;
    border-bottom: 1px solid #D7D7D7;
    line-height: 40px;
    color: #FFF;
    font-size: 16px;
}

.popupComponent .popupContent {
    padding: 15px 0;
}

.popupComponent .popupFooter {
    padding: 15px 0;
    border-top: 1px solid #D7D7D7;
}

.popupComponent a.close {
    display: none;
}

.popupComponent .formLabel {
    font-size: 12px;
    margin-bottom: 3px;
}

.popupContent textarea {
    width: 100% !important;
    height: 100px !important;
    position: relative;
    border: 1px solid #D7D7D7;
    overflow: auto;
    resize: none;
    padding: 5px;
    line-height: 22px;
    color: #26363D;
    font-weight: 400;
}

.popupContent input[type='text'] {
    width: 100% !important;
    line-height: 20px;
    padding: 5px;
    position: relative;
    border: 1px solid #D7D7D7;
    color: #26363D;
    font-weight: 400;
}

.popupContent textarea:focus,
.popupContent input[type='text']:focus {
    outline: 0 none;
    border: 1px solid #3E6480;
}

.popupContent .subject,
.popupContent .message,
.popupContent .link {
    margin-bottom: 15px;
}

.popupComponent .popupFooter .popupCancelBtnObj button {
    width: 100%;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    background: #FFF;
    filter: none;
    border: 1px solid #D7D7D7;
    padding: 0 5px;
}

.popupComponent .popupFooter .popupCancelBtnObj button:hover {
    border: 1px solid #3E6480;
}

.popupComponent .popupFooter .popupSendBtnObj button {
    font-size: 14px;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    border: none;
    margin: 0;
    background: #005CA7;
    color: #FFF;
    filter: none;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    transition: border .5s;
    outline: 0 none;
    width: 100%;
}

.popupComponent .popupFooter .popupSendBtnObj button:hover {
    background: #0072CE;
    -webkit-box-shadow: 0px 3px 5px 0px #0066b9 inset;
    box-shadow: 0px 3px 5px 0px #0066b9 inset;
}

.popupComponent .popupFooter .popupSendBtnObj button:active {
    background: #005CA7;
    -webkit-box-shadow: 0px 3px 5px 0px #004985 inset;
    box-shadow: 0px 3px 5px 0px #004985 inset;
}


/* ================ SELECT2 SELECTOR ================ */

.select2-drop-mask {
    z-index: 10001;
}

.select2-drop {
    z-index: 10002;
    color: #26363D;
    font-weight: 400;
}

.select2-drop .select2-search {
    display: none;
}

.select2-drop-active {
    border: 1px solid #3E6480;
}

.select2-container {
    width: 100%;
}

.select2-container .select2-choice {
    height: 32px;
    line-height: 22px;
    padding: 5px 0 5px 5px;
    border: 1px solid #D7D7D7;
    border-radius: 0;
    color: #26363D;
    font-weight: 400;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    -webkit-filter: none;
    -o-filter: none;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 30px;
}

.select2-container .select2-choice .select2-arrow {
    width: 28px;
    border-radius: 0;
    border: none;
    background: #FFF;
}

.select2-container .select2-choice .select2-arrow:before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #4d4d4d;
    content: '';
    display: block;
    height: 8px;
    right: 10px;
    top: 9px;
    position: absolute;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    vertical-align: top;
    width: 8px;
}

.select2-container.select2-container-active.select2-dropdown-open .select2-choice .select2-arrow:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
}

.select2-container.select2-container-active.select2-dropdown-open .select2-choice,
.select2-container:hover .select2-choice {
    border: 1px solid #3E6480;
}

.select2-container .select2-choice .select2-arrow b {
    display: none;
}

.select2-results .select2-highlighted {
    background: #005CA7;
}

a.notification_link {
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    border-color: #a3a3a3;
    background-color: #a3a3a3;
    color: #1c1c1c;
    text-decoration: none;
}